* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /*cores*/
  --tt-heading: #0C3440; 

  --tt-label: #00433A;
  --tt-input: #212529;
  --ot-input: #027990;/*outline do input*/
  --bd-input: rgba(73, 80, 87, 0.3); /*border do input*/
  --bg-input: #DCE2E9;
  --tt-placeholder: rgba(73, 80, 87, 0.5);

  --tt-button: #FFFFFF;
  --bg-button: #02799D;
  --bg-button-hover: #01475C;

  --bg-error: #F03E3E;
  --tt-error: #FFFFFF;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #040924;
}

body, input, button {
  font-size: 1.6rem;
  line-height: 2rem;
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  padding: 3rem 4.6rem 4.6rem;
  background: #FFFFFF;
  max-width: 42.8rem;
  margin-inline: auto;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}

.title {
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--tt-heading);
}

.container {
  padding: 1.6rem;
}

form h1 {
  margin-bottom: 3.2rem;
}

form label {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--tt-label);
  margin-bottom: 0.8rem;
  display: block;
}

form input {
  width: 100%;
  border: 0.1rem solid var(--bd-input);
  background: var(--bg-input);
  padding: 1.6rem;
  border-radius: 0.4rem;
}

form input:focus {
  outline: 0.2rem solid var(--ot-input);
}

form input::placeholder {
  color: var(--tt-placeholder);
}

.input-wrapper + .input-wrapper {
  margin-top: 1.6rem;
}

form button {
  margin-top: 3.2rem;
  padding: 1.6rem;
  width: 100%;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--bg-button);
  color: var(--tt-button);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: var(--bg-button-hover);
}

/*modal*/
.modal-wrapper {
  position: absolute;
  inset: 0; /* isso é para não digitar right: 0, left: 0, top: 0 e bottom: 0*/
  background: rgba(0, 0, 0, 0.7);
  display: grid; 
  place-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: relative;
}

.modal button {
  background: none;
  border: none;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.modal button:hover {
  transform: scale(1.1);
}

