* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /*cores*/
  --tt-heading: #0C3440; 

  --tt-label: #00433A;
  --tt-input: #212529;
  --ot-input: #027990;//outline do input
  --bd-input: rgba(73, 80, 87, 0.3); //border do input
  --tt-placeholder: rgba(73, 80, 87, 0.5);
  
  --tt-button: #FFFFFF;
  --bg-button: #02799D;

  --bg-error: #F03E3E;
  --tt-error: #FFFFFF;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #040924;
  font-size: 1.6rem;
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  padding: 4.8rem 6.4rem 6.4rem;
  background: #FFFFFF;
  max-width: 42.8rem;
  margin-inline: auto;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}