* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /*cores*/
  --tt-heading: #0C3440; 

  --tt-label: #00433A;
  --tt-input: #212529;
  --ot-input: #027990;/*outline do input*/
  --bd-input: rgba(73, 80, 87, 0.3); /*border do input*/
  --bg-input: #DCE2E9;
  --tt-placeholder: rgba(73, 80, 87, 0.5);

  --tt-button: #FFFFFF;
  --bg-button: #02799D;

  --bg-error: #F03E3E;
  --tt-error: #FFFFFF;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #040924;
  font-size: 1.6rem;
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  padding: 4.8rem 6.4rem 6.4rem;
  background: #FFFFFF;
  max-width: 42.8rem;
  margin-inline: auto;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}

.title {
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--tt-heading);
}

form h1 {
  margin-bottom: 3.2rem;
}

form label {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--tt-label);
  margin-bottom: 0.8rem;
  display: block;
}

form input {
  width: 100%;
  border: 0.1rem solid var(--bd-input);
  background: var(--bg-input);
  padding: 1.6rem;
  border-radius: 0.4rem;
}

form input:focus {
  outline: 0.2rem solid var(--ot-input);
}

form input::placeholder {
  color: var(--tt-placeholder);
}

.input-wrapper + .input-wrapper {
  margin-top: 1.6rem;
}
